<div class="nai-navbar">
	<div class="title">
		<i class="glyphicon glyphicon-plane"></i>
		مشتریان
	</div>
	<button class="nai-nav-icon left glyphicon glyphicon-chevron-left" ng-click="go('/main')"></button>
	<button class="nai-nav-icon left glyphicon glyphicon-plus" ng-click="go('/customers/new')"></button>
</div>

<div class="col-xs-12 nai-page-container">
	<div class="form-group col-sm-4">
		<label class="control-label">ترتیب نمایش</label>
		<select class="form-control" selectize="{}" options="sortBys" ng-model="filters.sortBy"></select>
	</div>
	<div class="form-group col-sm-4">
		<label class="control-label">متن جست‌وجو</label>
		<input class="form-control" ng-model="filters.text">
	</div>
</div>


<ul class="list-group">
	<li class="list-group-item col-xs-12 sale slide-down" ng-repeat="item in items" ng-class="{'delivered': item.delivered, 'payed': item.payed}" ngz-click="go('/sales/{{item.id}}')">
		<div class="col-sm-4">
			<div class="row pointer" ng-click="goToCustomer($index)">
				<div class="col-xs-3">
					<label class="text-danger">نام مشتری</label>
				</div>
				<div class="col-xs-9">
					{{ item.name }}
				</div>
			</div>
		</div>
		<div class="col-sm-4">
			<div class="row">
				<div class="col-xs-3">
					<label class="text-primary">مجموع خرید</label>
				</div>
				<div class="col-xs-9">
					{{ displayPrice( item.totalBuys ) }} <i>ریال</i>
				</div>
			</div>
		</div>
		<div class="col-sm-4">
			<div class="row">
				<div class="col-xs-6">
					<label class="text-primary">مجموع خرید ۳۰ روز گذشته</label>
				</div>
				<div class="col-xs-6">
					{{ displayPrice( item.lastBuys ) }} <i>ریال</i>
				</div>
			</div>
		</div>
	</li>
</ul>
